/*informazioni  generali*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f6f8f9;
}

#container{
    background-color: white;
    margin: 10%;
    margin-top: 5%;
    padding-left: 3%;
}

/*logo e titolo*/

#logo_box{
    display: inline-block;
    text-align: left;
    background-color: white;
    width: 100%;
    height: 70px;
    padding: 10px;
}

#logo{
    line-height: 50px;
    vertical-align: middle;

}

#logo_title{
    font-size: 50px;
    background-color: white;
    line-height: 50px;
    vertical-align: middle;
    font-family: 'Lato', sans-serif;
}

/*add task e add section*/

#buttons{
    margin: auto;
    padding: 2%;
    border-bottom: solid  #f6f8f9 1px ;

}

#task_button{
    background-color: rgb(15, 91, 204);
    color: white;
    border: rgb(15, 91, 204) solid 1px;
    border-radius: 7px;
    padding: 5px;
    font-family:'Lato', sans-serif ;
    margin-right: 5px
}

#section_button{
    background-color: white;
    border: 1px  rgb(168, 165, 165) solid;
    border-radius: 7px;
    padding: 5px;
    color: rgb(168, 165, 165);
    font-family:'Lato', sans-serif ;
}